gdown
wordcloud
nltk
numpy
pandas
spacy
tqdm
tensorflow-cpu
tensorflow_hub
scikit-learn
scikit-multilearn
autocorrect
rake_nltk
yake
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
keras
h5py==2.10.0
pydot
graphviz