.highlight {
    border-radius: 0.4rem;
    color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .bold {
    padding-left: 1rem;
    font-weight: 700;
  }
  .seagreen {
    background-color: rgb(91, 194, 134);
  }
  .blue {
    background-color: rgb(140, 196, 214);
  }
  .purple {
    background-color: rgb(172, 133, 180);
  }

span {
  display: inline-block;
  border: 2px;
  margin: 4px;
}